<br>
<div fxColumn="row" *ngIf="eti">
  <div class="cardContainer" fxFlex="90" fxFlexOffset="5">
    <md-card>
      <md-card-title class="center-title">
        {{ eti.nombre }}
      </md-card-title>
      <md-card-content>
        <md-chip-list>
          <span>Inscriptos: </span>
          <md-chip color="primary" selected>{{ cantidadInscriptos || 0 }}</md-chip>
          <span>Pre-Inscriptos: </span>
          <md-chip color="secondary" selected>{{ cantidadPreInscriptos || 0 }}</md-chip>
          <span>En lista de espera: </span>
          <md-chip color="warn" selected>{{ cantidadEnEspera || 0 }}</md-chip>
        </md-chip-list>

      </md-card-content>
    </md-card>
  </div>
</div>
<div fxColumn="row" *ngIf="eti && auth.authenticated() && auth.user.admin">
  <div class="cardContainer" fxFlex="90" fxFlexOffset="5">
    <md-card>
      <div fxFlex>
        <a md-button color="primary" [routerLink]="['/comprobantes', eti._id]">Listado de comprobantes</a>
      </div>
      <div fxFlex>
        <a md-button color="primary" [routerLink]="['/comprobantes', eti._id, 'nuevo-comprobante']">Nuevo Comprobante</a>
      </div>
      <div fxFlex>
        <a md-button color="primary" [routerLink]="['/planilla-de-aprobacion', eti._id]">Planilla de Aprobaciones</a>
      </div>
      <div fxFlex>
        <a md-button color="primary" [routerLink]="['/listado-de-contactos', eti._id]">Listado de contactos</a>
      </div>
      <div fxFlex>
        <a md-button color="primary" [routerLink]="['/reportes', eti._id]">Reportes</a>
      </div>
      <div fxFlex>
        <button md-button color="primary" (click)="enviarMailAviso()">enviar mail de aviso</button>
      </div>
      <br>
    </md-card>
  </div>
</div>
<!-- TABLA -->
<div fxColumn="row">
  <div class="cardContainer" fxFlex="90" fxFlexOffset="5">
    <md-card>
      <md-card-title class="center-title">
        <h2>Listado de Inscriptos</h2>
      </md-card-title>
      <md-card-content>
        <form [formGroup]="filterForm" novalidate>
          <div fxLayout="row" fxLayoutWrap>
            <div fxFlex="50" fxFlex.gt-sm="25">
              <md-input-container>
                <input mdInput type="text" name="datos" placeholder="Buscar" class="form-control" required name="filtro" formControlName="datos">
              </md-input-container>
            </div>
            <div fxFlex="50" fxFlex.gt-sm="25">
              <md-select placeholder="Estado" formControlName="estado">
                <md-option [value]="'Todos'">Todos</md-option>
                <md-option [value]="'Pre inscripto'">Pre inscripto</md-option>
                <md-option [value]="'En lista de espera'">En lista de espera</md-option>
                <md-option [value]="'Inscripto'">Inscripto</md-option>
                <md-option *ngIf="auth.authenticated() && auth.user.admin" [value]="'Por Aprobar'">Por Aprobar</md-option>
                <md-option *ngIf="auth.authenticated() && auth.user.admin" [value]="'Pre Inscripto / SC'">Pre Inscripto / SC</md-option>
                <md-option *ngIf="auth.authenticated() && auth.user.admin" [value]="'Observados'">Observados</md-option>
              </md-select>
            </div>
            <div fxFlex="50" fxFlex.gt-sm="25" *ngIf="auth.authenticated() && auth.user.admin">
              <md-checkbox name="observados" formControlName="observados">Incluir Observados</md-checkbox>
            </div>
            <div fxFlex="50" fxFlex.gt-sm="25">
              <md-select placeholder="limite" formControlName="limite">
                <md-option [value]="10">10</md-option>
                <md-option [value]="50">50</md-option>
                <md-option [value]="100">100</md-option>
                <md-option [value]="200">200</md-option>
                <md-option [value]="500">500</md-option>
                <md-option [value]="1000">1000</md-option>
                <md-option [value]="1500">1500</md-option>
              </md-select>
            </div>
            <div fxFlex="50" fxFlex.gt-sm="25">
              <md-select placeholder="Provincia" name="provincia" formControlName="provincia">
                <md-option *ngFor="let provincia of provincias" [value]="provincia.name">{{ provincia.name }}</md-option>
              </md-select>
            </div>
            <div fxFlex="10">

            </div>
          </div>
        </form>

        <div fxLayout="row">
          <div fxFlex="50" fxFlex.gt-sm="25" *ngIf="auth.authenticated() && auth.user.admin">
            <md-checkbox [(ngModel)]="verSexo">Ver / Cambiar sexo</md-checkbox>
          </div>
        </div>
        <div fxLayout="row">
          <div fxFlex>
            <h2>Nombre</h2>
          </div>
          <div fxFlex>
            <h2>Estado</h2>
          </div>
          <div fxFlex fxHide.sm fxHide.xs>
            <h2>Fecha Pre-Inscripcion</h2>
          </div>
          <div fxFlex fxHide.sm fxHide.xs *ngIf="verSexo">
            <h2>Sexo</h2>
          </div>
          <div fxFlex fxHide.sm fxHide.xs>
            <h2>Fecha Vencimiento</h2>
          </div>
          <div fxFlex="10">

          </div>
        </div>
        <div *ngIf="eti">
          <div fxLayout="row" *ngFor="let inscripto of inscripcionesFiltradas">
            <div fxFlex>
              <h3>{{inscripto.nombre}} {{inscripto.apellido}}</h3>
            </div>
            <div fxFlex>
              <h3>{{inscripto.estado}}</h3>
            </div>
            <div fxFlex fxHide.sm fxHide.xs>
              <h3>{{inscripto.fechaPreInscripcionParsed}}</h3>
            </div>
            <div fxFlex fxHide.sm fxHide.xs *ngIf="verSexo">
              <md-radio-group [(ngModel)]="inscripto.sexo" (change)="elegirSexo(inscripto, $event.value)">
                <md-radio-button value="Masculino">Masculino</md-radio-button>
                <md-radio-button value="Femenino">Femenino</md-radio-button>
              </md-radio-group>
            </div>
            <div fxFlex fxHide.sm fxHide.xs>
              <h3 [ngClass]="{'vencido': inscripto.vencido }">
                {{inscripto.fechaVencimientoParsed}}
              </h3>
            </div>
            <div fxFlex="10">
              <a *ngIf="puedeEditar(inscripto)" [routerLink]="['inscripcion', inscripto._id]">
                <md-icon>create</md-icon>
              </a>
            </div>
          </div>
        </div>
      </md-card-content>
    </md-card>
  </div>
</div>
