<br>
<div fxColumn="row">
  <div class="cardContainer"
       fxFlex="80"
       fxFlexOffset="10">
    <md-card>
      <md-card-title class="center-title">
        {{ eti.nombre }}
      </md-card-title>
      <md-card-content>
        <md-chip-list>
          <span>Inscriptos: </span><md-chip color="primary" selected>{{ inscriptos || 0 }}</md-chip>
          <span>Pre-Inscriptos: </span><md-chip color="secondary" selected>{{ preInscriptos || 0 }}</md-chip>
          <span>En lista de espera: </span><md-chip color="warn" selected>{{ enEspera || 0 }}</md-chip>
        </md-chip-list>
        <h2>Listado de Inscriptos</h2>
        <table class="inscriptosTable">
          <thead>
            <th (click)="sortInscriptosBy('nombre')">Nombre</th><th (click)="sortInscriptosBy('estado')">Estado</th><th>Accion</th>
          </thead>
          <tbody>
            <tr *ngFor="let inscripto of eti.inscripciones">
              <td>{{inscripto.nombre}}</td>
              <td>{{inscripto.estado}}</td>
              <td><a md-line [routerLink]="['/inscripcion', inscripto._id]"><button md-icon-button>
                <md-icon>create</md-icon>
              </button></a></td>
            </tr>
          </tbody>
        </table>
      </md-card-content>
    </md-card>
  </div>

</div>
