<br>
<div fxLayout="row" fxLayoutAlign="space-around stretch">
  <div fxFlex="80">
    <div *ngIf="mensaje" class="mensaje">
      {{mensaje}}
    </div>
    <md-card *ngIf="inscripto" class="inscripto-card">
      <md-card-title class="center-title">{{ inscripto.nombre }} {{ inscripto.apellido }}</md-card-title>
      <md-card-content>
        <div fxLayout="row" fxLayoutWrap *ngIf="auth.authenticated() && !auth.user.admin">
          <div fxFlex="33" fxFlex.sm="50" fxFlex.xs="100" class="detail-field">
            <h3>Pais:</h3><span> {{ inscripto.pais }}</span>
          </div>
          <div fxFlex="33" fxFlex.sm="50" fxFlex.xs="100" class="detail-field">
            <h3>Provincia:</h3><span> {{ inscripto.provincia }}</span>
          </div>
          <div fxFlex="33" fxFlex.sm="50" fxFlex.xs="100" class="detail-field">
            <h3>Ciudad:</h3><span> {{ inscripto.ciudad }}</span>
          </div>
          <div fxFlex="33" fxFlex.sm="50" fxFlex.xs="100" class="detail-field">
            <h3>Email:</h3><span> {{ inscripto.email }}</span>
          </div>
          <div fxFlex="33" fxFlex.sm="50" fxFlex.xs="100" class="detail-field">
            <h3>Telefono:</h3><span> {{ inscripto.telefono }}</span>
          </div>
          <div fxFlex="33" fxFlex.sm="50" fxFlex.xs="100" class="detail-field">
            <h3>Whatsapp:</h3> {{ inscripto.whatsapp ? 'SI' : 'NO'}}
          </div>
          <div fxFlex="33" fxFlex.sm="50" fxFlex.xs="100" class="detail-field">
            <h3>Telefono de Emergencia:</h3><span> {{ inscripto.telefonoEmergencia || 'No' }}</span>
          </div>
          <div fxFlex="33" fxFlex.sm="50" fxFlex.xs="100" class="detail-field">
            <h3>Alojamiento:</h3><span> {{ inscripto.alojamiento ? 'SI': 'NO' }}</span>
          </div>
          <div fxFlex="33" fxFlex.sm="50" fxFlex.xs="100" class="detail-field">
            <h3>Remera:</h3><span> {{ inscripto.remera ? 'SI': 'NO' }}</span>
          </div>
          <div fxFlex="33" fxFlex.sm="50" fxFlex.xs="100" class="detail-field">
            <h3>Seminario:</h3> {{ inscripto.seminario ? 'SI' : 'NO'}}
            <h3 *ngIf="inscripto.seminario">Turno:</h3>
            <span *ngIf="inscripto.seminario"> {{ inscripto.turnoSeminario }}</span>
          </div>
          <div fxFlex="33" fxFlex.gt-sm="33">
            <h3>Documento:</h3><span> {{ inscripto.documento }}</span>
          </div>
        </div>
        <div fxLayout="row" fxLayoutWrap *ngIf="auth.authenticated() && auth.user.admin">
          <div fxFlex="33" fxFlex.sm="50" fxFlex.xs="100" class="detail-field">
            <h3>Pais:</h3><span> {{ inscripto.pais }}</span>
          </div>
          <div fxFlex="33" fxFlex.sm="50" fxFlex.xs="100" class="detail-field">
            <h3>Provincia:</h3><span> {{ inscripto.provincia }}</span>
          </div>
          <div fxFlex="33" fxFlex.sm="50" fxFlex.xs="100" class="detail-field">
            <h3>Ciudad:</h3><span> {{ inscripto.ciudad }}</span>
          </div>
          <div fxFlex="33" fxFlex.sm="50" fxFlex.xs="100" class="detail-field">
            <md-input-container>
              <input #email="ngModel" mdInput type="email" id="email" placeholder="Email" class="form-control" required name="email" [(ngModel)]="inscripto.email" email>
              <md-hint *ngIf="email.invalid" [ngStyle]="{'color': 'red'}" align="start">Invalido</md-hint>
            </md-input-container>
          </div>
          <div fxFlex="33" fxFlex.sm="50" fxFlex.xs="100" class="detail-field">
            <h3>Telefono:</h3><span> {{ inscripto.telefono }}</span>
          </div>
          <div fxFlex="33" fxFlex.sm="50" fxFlex.xs="100" class="detail-field">
            <h3>Whatsapp:</h3> {{ inscripto.whatsapp ? 'SI' : 'NO'}}
          </div>
          <div fxFlex="33" fxFlex.sm="50" fxFlex.xs="100" class="detail-field">
            <h3>Telefono de Emergencia:</h3><span> {{ inscripto.telefonoEmergencia || 'No' }}</span>
          </div>
          <div fxFlex="33" fxFlex.sm="50" fxFlex.xs="100" class="detail-field">
            <md-checkbox name="alojamiento" [(ngModel)]="inscripto.alojamiento">(Opcional) Te alojás en Albergue Parque? ($500 x tres noches/ cupo 400 plazas)</md-checkbox>
          </div>
          <div fxFlex="33" fxFlex.sm="50" fxFlex.xs="100" class="detail-field">
            <md-checkbox name="remera" [(ngModel)]="inscripto.remera">(Opcional) Queres la remera del MendozETI? ($150)</md-checkbox>
            <div [hidden]="!inscripto.remera">
              Tale?
              <md-radio-group name="talleRemera" [(ngModel)]="inscripto.talleRemera" required>
                <md-radio-button value="XS">XS</md-radio-button>
                <md-radio-button value="S">S</md-radio-button>
                <md-radio-button value="M">M</md-radio-button>
                <md-radio-button value="L">L</md-radio-button>
                <md-radio-button value="XL">XL</md-radio-button>
                <md-radio-button value="XXL">XXL</md-radio-button>
              </md-radio-group>
            </div>
          </div>
          <div fxFlex="33" fxFlex.sm="50" fxFlex.xs="100" class="detail-field">
            <md-checkbox name="seminario" [(ngModel)]="inscripto.seminario">(Opcional) Tomás el seminario de Olga Besio? ($40)</md-checkbox>
            <div [hidden]="!inscripto.seminario">
              Que horario preferís?
              <md-radio-group name="horaSeminario" [(ngModel)]="inscripto.turnoSeminario" required>
                <md-radio-button value="primero">11</md-radio-button>
                <md-radio-button value="segundo">18</md-radio-button>
                <md-radio-button value="cualquiera">cualquiera</md-radio-button>
              </md-radio-group>
            </div>
          </div>
          <div fxFlex="33" fxFlex.gt-sm="33">
            <h3>Documento:</h3><span> {{ inscripto.documento }}</span>
          </div>
        </div>
        <br>
        <br>
        <div fxLayout="row" fxLayoutWrap *ngIf="auth.authenticated() && auth.user.admin">
          <div fxFlex="50">
            <md-select placeholder="Estado" [(ngModel)]="inscripto.estado">
              <md-option [value]="'Pre inscripto'">Pre inscripto</md-option>
              <md-option [value]="'En lista de espera'">En lista de espera</md-option>
              <md-option [value]="'Inscripto'">Inscripto</md-option>
              <md-option [value]="'Vencido'">Vencido</md-option>
            </md-select>
          </div>
          <div fxFlex="50">
            <md-input-container>
              <textarea mdInput placeholder="notas" cols="200" [(ngModel)]="inscripto.notas" class="form-control"></textarea>
            </md-input-container>
          </div>
          <div fxFlex="50">
            <md-checkbox name="observado" [(ngModel)]="inscripto.observado">Observado</md-checkbox>
          </div>
          <div fxFlex="50">
            <div fxLayout="row">
              <button md-raised-button (click)="guardar()">Guardar</button>
            </div>
          </div>
          <div fxFlex="50">
            <md-input-container>
              <input mdInput type="text" #busquedaReferencia placeholder="Referencia del comprobante" class="form-control">
            </md-input-container>
            <button md-button color="primary" type="button" name="button" (click)="buscarComprobante(busquedaReferencia.value)">Buscar Comprobante</button>
          </div>
          <div fxFlex="50">
            <div *ngIf="comprobanteEncontrado">
              Monto: {{ comprobanteEncontrado.total }}
              <button md-button color="primary" type="button" name="button" (click)="asociarComprobante()">Asociar Comprobante</button>
            </div>
          </div>
          <div fxFlex="50">
              <button md-button color="primary" type="button" name="button" (click)="reenviarMail()">Reenviar mail inscripcion</button>
          </div>
        </div>
      </md-card-content>
    </md-card>
  </div>
</div>
<div fxLayout="row" fxLayoutAlign="space-around stretch">
  <div fxFlex="80">
    <md-card *ngIf="inscripto" class="inscripto-card">
      <md-card-title class="center-title">Comprobante</md-card-title>
      <md-card-content>
        <div fxLayout="column">
          <div fxLayout="row" *ngIf="!inscripto.comprobante">
            <div fxFlex="50">
              <h3>Selecciona Un Archivo</h3>
              <input id="comprobante" type="file" ngFileSelect (uploadOutput)="onUploadOutput($event)" [uploadInput]="uploadInput">
              <button *ngIf="fileSelected" md-button color="accent" (click)="startUpload()">
                Click aquí para subir<md-icon>cloud_upload</md-icon>
              </button>
              <md-progress-bar *ngIf="uploading" [color]="primary" [mode]="indeterminate">
              </md-progress-bar>
            </div>
          </div>
          <div fxLayout="row" *ngIf="inscripto.comprobante">
            <div fxFlex="50">
              <h2>Tu comprobante ya está subido</h2>
            </div>
            <div fxFlex="50" *ngIf="auth.authenticated() && auth.user.admin && inscripto.comprobante">
              <a md-button color="primary" [href]="baseUrl + '/resources?file=' + inscripto.comprobante" target="_blank">
                ver comprobante
                <md-icon>visibility</md-icon>
              </a>
            </div>
          </div>
        </div>
      </md-card-content>
    </md-card>
  </div>
</div>
