<div fxLayout='column' *ngIf="formularioHabilitado">
  <form #inscripcionForm="ngForm" action="index.html" method="post">
    <div fxLayout='row'>
      <div fxFlex="33">
        <md-input-container>
          <input mdInput type="text" id="nombre" placeholder="Nombre" class="form-control" required name="nombre" [(ngModel)]="inscripto.nombre">
        </md-input-container>
      </div>
      <div fxFlex="33">
        <md-input-container>
          <input mdInput type="text" id="apellido" placeholder="Apellido" class="form-control" required name="apellido" [(ngModel)]="inscripto.apellido">
        </md-input-container>
      </div>
      <div fxFlex="33">
        <md-input-container>
          <input mdInput type="text" id="documento" placeholder="Documento" class="form-control" required name="documento" [(ngModel)]="inscripto.documento">
        </md-input-container>
      </div>
    </div>
    <div fxLayout='row'>
      <div fxFlex="33">
        <md-input-container>
          <input mdInput type="text" id="pais" placeholder="Pais" class="form-control" required name="pais" [(ngModel)]="inscripto.pais">
        </md-input-container>
      </div>
      <div fxFlex="33">
        <md-input-container>
          <input mdInput type="text" id="provincia" placeholder="Provincia" class="form-control" required name="provincia" [(ngModel)]="inscripto.provincia">
        </md-input-container>
      </div>
      <div fxFlex="33">
          <md-input-container>
            <input mdInput type="text" id="ciudad" placeholder="Ciudad" class="form-control" required name="ciudad" [(ngModel)]="inscripto.ciudad">
          </md-input-container>
      </div>
    </div>
    <div fxLayout='row'>
      <div fxFlex="33">
        <md-input-container>
          <input mdInput type="email" id="email" placeholder="Email" class="form-control" required name="email" [(ngModel)]="inscripto.email">
        </md-input-container>
      </div>
      <div fxFlex="33">
        <md-input-container>
          <input mdInput type="text" id="telefono1" placeholder="Telefono" class="form-control" required name="telefono1" [(ngModel)]="inscripto.telefono1">
        </md-input-container>
      </div>
      <div fxFlex="33">
        <md-input-container>
          <input mdInput type="text" id="telefono2" placeholder="Otro Telefono" class="form-control" required name="telefono2" [(ngModel)]="inscripto.telefono2">
        </md-input-container>
      </div>
    </div>
    <div fxLayout='row'>
      <div fxFlex="33">
        <md-input-container>
          <input mdInput type="text" id="tipoComida" placeholder="Preferencia de comida" class="form-control" required name="tipoComida" [(ngModel)]="inscripto.tipoComida">
        </md-input-container>
      </div>
      <div fxFlex="33">
        <md-checkbox>Colabora?</md-checkbox>
      </div>
      <div fxFlex="33">
        <md-input-container>
          <input mdInput type="text" id="fechaLlegada" placeholder="Fecha de llegada" class="form-control" required name="fechaLlegada" [(ngModel)]="inscripto.fechaLlegada">
        </md-input-container>
      </div>
    </div>
    <div fxLayout='row'>
      <div fxFlex="33">
        <md-input-container>
          <input mdInput type="text" id="fechaSalida" placeholder="Fecha de salida" class="form-control" required name="fechaSalida" [(ngModel)]="inscripto.fechaSalida">
        </md-input-container>
      </div>
      <div fxFlex="33">
        <md-checkbox>Primer Eti?</md-checkbox>
      </div>
    </div>
    <div fxLayout='row'>
      <div fxFlex="33">
        <button [disabled]="!inscripcionForm.valid" md-raised-button (click)="inscribir()">Inscribir</button>
      </div>
    </div>
  </form>
</div>

<div fxLayout="column" *ngIf="mensaje">
  <div fxFlex="100">
    <h2>{{mensaje}}</h2>
  </div>
  <div fxFlex="100">
    <a  md-button *ngIf="estado == 'enviado'" [routerLink]="['/eti', etiActivo._id]">Ir al listado de inscriptos</a>
    <br>
  </div>
  <div fxFlex="100">
    <button *ngIf="estado == 'enviado'" (click)="resetearFormulario()" md-button  name="button">Realizar otra inscripción</button>
  </div>
</div>
