<br>
<div fxColumn="row" *ngIf="eti">
  <div fxFlex="80" fxFlexOffset="10">
    <md-card>
      <md-card-title class="center-title">
        Nuevo Comprobante
      </md-card-title>
      <md-card-content>
        <form #comprobanteForm="ngForm" action="index.html" method="post">
          <div fxLayout='row' fxLayoutWrap>
            <div fxFlex="33">
              <md-input-container>
                <input mdInput type="text" id="referencia" placeholder="Referencia" class="form-control" required name="referencia" [(ngModel)]="comprobante.referencia">
              </md-input-container>
            </div>
            <div fxFlex="33">
              <md-input-container>
                <input mdInput name="fechaYHoraComprobante" placeholder="Fecha y Hora" id="fechaYHoraComprobante" [(ngModel)]="comprobante.fechaYHora">
              </md-input-container>
            </div>
            <div fxFlex="33">
              <md-input-container>
                <input mdInput type="number" id="total" placeholder="Monto total" class="form-control" required name="total" [(ngModel)]="comprobante.total">
              </md-input-container>
            </div>
            <div fxFlex="34">
              <md-input-container>
                <input mdInput type="number" id="combos" placeholder="Combos" class="form-control" name="combos" [(ngModel)]="comprobante.combos">
              </md-input-container>
            </div>
            <div fxFlex="33">
              <md-input-container>
                <input mdInput type="number" id="alojamientos" placeholder="Alojamientos" class="form-control" name="alojamientos" [(ngModel)]="comprobante.alojamientos">
              </md-input-container>
            </div>
            <div fxFlex="33">
              <md-input-container>
                <input mdInput type="number" id="seminarios" placeholder="Seminarios" class="form-control" name="seminarios" [(ngModel)]="comprobante.seminarios">
              </md-input-container>
            </div>
            <div fxFlex="33">
              <md-input-container>
                <input mdInput type="number" id="remeras" placeholder="Remeras" class="form-control" name="remeras" [(ngModel)]="comprobante.remeras">
              </md-input-container>
            </div>
            <div fxFlex="34">
              Sobrante: {{ comprobante.total - comprobante.combos * eti.precioCombo - comprobante.alojamientos * eti.precioAlojamiento - comprobante.seminarios * eti.precioSeminario - comprobante.remeras * eti.precioRemera }}
            </div>
            <div fxFlex="33">
              Origen..
              <md-radio-group name="origen" [(ngModel)]="comprobante.origen">
                <md-radio-button value="Transferencia">Transferencia</md-radio-button>
                <md-radio-button value="Depósito">Depósito</md-radio-button>
              </md-radio-group>
            </div>
            <div fxFlex="33">
              <button md-button type="button" color="primary" [disabled]="!comprobanteForm.valid" (click)="guardarComprobante()">Guardar</button>
            </div>
            <div fxFlex="33">
            </div>
            <div fxFlex="34">
            </div>
          </div>
        </form>
      </md-card-content>
    </md-card>
  </div>
</div>
